
<h1>Derek's Word Counter Game</h1>

<form class="input" action="index" method="post">
  <label for="inputWord">Input Word:</label>
  <input type="text" name="inputWord" id="inputWord">

<br>

<label for="inputPara">Input Paragraph:</label>
<input type="text" name="inputPara" id="inputPara">

<button type="submit" name="button">Check!</button>
</form>

<label for="result">Result:</label>
<p>Your word appears @Model times in your paragraph!</p>
